/ Banner Download
#downloadlink.banner_city
  .container
    .row
      .col-md-6.col-md-offset-3.text-center.wrap_title
        %h2.h2_home.wow.fadeIn{"data-wow-delay" => "0.2s"} Medical-Dental-Pros.com
        %p.lead.wow.fadeIn{"data-wow-delay" => "0.6s"} Personal & Discreet
        %p
          %a.btn.btn-embossed.btn-primary.view{href: @link_url, target: "_blank", role: "button", title: "Safe Secure and Private Online STD Testing in #{@city_zip_code.primary_city}, #{@city_zip_code.zip}"} Order Today