- content_for :title do
  %title= "Discreet In-home STD tests in #{@city_zip_code.primary_city}, #{@city_zip_code.zip}"

%h4
  =@city_zip_code

- content_for :footer do
  %footer=  "Copyright © 2015 stds.medical-dental-pros.com - Best Prices and Most Discreet."

