
#states {
	margin-top: 10px;
	text-align: left;
}

.unadorned_link {
  text-decoration: none;
  color: inherit;
}

.banner_city {
  padding: 100px 0;
  color: #f8f8f8;
  background:  image-url("blood_test-wide.jpg") no-repeat center center;
  background-size: cover;
}