-if params[:controller] == 'city_zip_codes' && params[:action] == 'show'
  #contact.content-section-b{:style => "border-top: 0"}
    .container
      .row
        .col-md-12.text-center.wrap_title
          = render partial: 'layouts/city_map'
