/ /.container_bullets
.content-section-a
  .container
    .row
      .col-sm-6.pull-right.wow.fadeInRightBig
        %img.img-responsive
          = image_tag("blood_draw-sm.jpg", style: "width: 130%;")
      .col-sm-6.wow.fadeInLeftBig{"data-animation-delay" => "200"}
        %h3.section-heading Font Awesome & Glyphicon
        %p.lead
          A special thanks to Death to the Stock Photo for
          providing the photographs that you see in this template.
        %ul.descp.lead2
          %li
            %i.glyphicon.glyphicon-signal
            Reliable and Secure Platform
          %li
            %i.glyphicon.glyphicon-refresh
            Everything is perfectly orgainized for future
          %li
            %i.glyphicon.glyphicon-headphones
            Attach large file easily