/ #whatis.content-section-b{:style => "border-top: 0"}
/   .container
/     .col-md-6.col-md-offset-3.text-center.wrap_title
/ Contact
#contact.content-section-b{:style => "border-top: 0"}
  .container
    .row
      .col-md-6.col-md-offset-3.text-center.wrap_title
        %h2 Contact Us
        %p.lead{:style => "margin-top:0"} A special thanks to Death.
      %form{:action => "", :method => "post", :role => "form"}
        .col-md-6
          .form-group
            %label{:for => "InputName"} Your Name
            .input-group
              %input#InputName.form-control{:name => "InputName", :placeholder => "Enter Name", :required => "", :type => "text"}/
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
          .form-group
            %label{:for => "InputEmail"} Your Email
            .input-group
              %input#InputEmail.form-control{:name => "InputEmail", :placeholder => "Enter Email", :required => "", :type => "email"}/
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
          .form-group
            %label{:for => "InputMessage"} Message
            .input-group
              %textarea#InputMessage.form-control{:name => "InputMessage", :required => "", :rows => "5"}
              %span.input-group-addon
                %i.glyphicon.glyphicon-ok.form-control-feedback
          %input#submit.btn.wow.tada.btn-embossed.btn-primary.pull-right{:name => "submit", :type => "submit", :value => "Submit"}/
      %hr.featurette-divider.hidden-lg/
      .col-md-5.col-md-push-1.address
        %address
          %h3 Office Location
          %p.lead
            %a{:href => "https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on"}
              The Pentagon
              %br/
              Washington, DC 20301
            %br/
            Phone: XXX-XXX-XXXX
            %br/
            Fax: XXX-XXX-YYYY
        %h3 Social
        %li.social
          %a{:href => "#"}
            %i.fa.fa-facebook-square.fa-size
          %a{:href => "#"}
            %i.fa.fa-twitter-square.fa-size
          %a{:href => "#"}
            %i.fa.fa-google-plus-square.fa-size
          %a{:href => "#"}
            %i.fa.fa-flickr.fa-size
