/ /.container
.content-section-b
  .container
    .row
      .col-sm-6.wow.fadeInLeftBig
        #owl-demo-1.owl-carousel
          %a.image-link
            .item
              %img.img-responsive.img-rounded
                = image_tag("iphone.png")
          %a.image-link
            .item
              %img.img-responsive.img-rounded
                = image_tag("iphone.png")
          %a.image-link
            .item
              %img.img-responsive.img-rounded
                = image_tag("iphone.png")
      .col-sm-6.wow.fadeInRightBig{"data-animation-delay" => "200"}
        %h3.section-heading Drag Gallery
        .sub-title.lead3
          Lorem ipsum dolor sit atmet sit dolor greand fdanrh
          %br/
          sdfs sit atmet sit dolor greand fdanrh sdfs
        %p.lead
          In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
          Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
          uam non erat mirum sapientiae lorem cupido
          patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
        %p
          %a.btn.btn-embossed.btn-primary{:href => "#", :role => "button"} View Details
          %a.btn.btn-embossed.btn-info{:href => "#", :role => "button"} Visit Website
.content-section-a
  .container
    .row
      .col-sm-6.pull-right.wow.fadeInRightBig
        %img.img-responsive
          = image_tag("doge.png")
      .col-sm-6.wow.fadeInLeftBig{"data-animation-delay" => "200"}
        %h3.section-heading Font Awesome & Glyphicon
        %p.lead
          A special thanks to Death to the Stock Photo for
          providing the photographs that you see in this template.
        %ul.descp.lead2
          %li
            %i.glyphicon.glyphicon-signal
            Reliable and Secure Platform
          %li
            %i.glyphicon.glyphicon-refresh
            Everything is perfectly orgainized for future
          %li
            %i.glyphicon.glyphicon-headphones
            Attach large file easily