/ Credits
#credits.content-section-a
  .container
    .row
      .col-md-6.col-md-offset-3.text-center.wrap_title
        %h2 Credits
        %p.lead{:style => "margin-top:0"} A special thanks to Death.
      .col-sm-6.block.wow.bounceIn
        .row
          .col-md-4.box-icon.rotate
            %i.fa.fa-desktop.fa-4x
          .col-md-8.box-ct
            %h3 Bootstrap
            %p Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam.
      .col-sm-6.block.wow.bounceIn
        .row
          .col-md-4.box-icon.rotate
            %i.fa.fa-picture-o.fa-4x
          .col-md-8.box-ct
            %h3 Owl-Carousel
            %p Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.
    .row.tworow
      .col-sm-6.block.wow.bounceIn
        .row
          .col-md-4.box-icon.rotate
            %i.fa.fa-magic.fa-4x
          .col-md-8.box-ct
            %h3 Codrops
            %p Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam.
      .col-sm-6.block.wow.bounceIn
        .row
          .col-md-4.box-icon.rotate
            %i.fa.fa-heart.fa-4x
          .col-md-8.box-ct
            %h3 Lorem Ipsum
            %p Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.