.sub-title.lead3
  The same FDA-approved testing used by doctors and hospitals
  %br/
  Visit any nationwide testing center- No appointment necessary
%p.lead
  You can visit any of our nationwide testing centers without an appointment, even the same day you place your order. Your results are delivered to you and no one else - nothing is reported to your insurance or placed on your medical records. Our counselors and doctors are available to provide guidance and support every step of the way, no matter what your results are.
