%footer
  .container
    .row
      .col-md-7
        - if content_for?(:footer)
          = yield(:footer)
        -else
          %footer "Copyright © 2015 stds.medical-dental-pros.com - Best Prices and Most Discreet in-home testing."


        %h3.footer-title
          %a{href: @link_url, target: "_blank"}
            Order Tests Now
        %p

      .col-md-5
        .footer-banner
          %h3.footer-title
          %ul
            %li
