%footer
  .container
    .row
      .col-md-7
        - if content_for?(:footer)
          = yield(:footer)
        -else
          %footer "Copyright © 2015 stds.medical-dental-pros.com - Best Prices and Most Discreet in-home testing."


        %h3.footer-title Follow Me!
        %p
          Vuoi ricevere news su altri template?
          %br/
          Visita Andrea Galanti.it e vedrai tutte le news riguardanti nuovi Theme!
          %br/
          Go to:
          %a{:href => "http://andreagalanti.it", :target => "_blank"} andreagalanti.it
        / LICENSE
        %a{:href => "http://www.andreagalanti.it/flatfy", :property => "dc:title", :rel => "cc:attributionURL"} Flatfy Theme
        by
        %a{:href => "http://www.andreagalanti.it", :property => "cc:attributionName", :rel => "dc:creator"} Andrea Galanti
        is licensed to the public under
        = succeed "the" do
          %br/
        = succeed "." do
          %a{:href => "http://creativecommons.org/licenses/by-nc/3.0/it/deed.it", :rel => "license"}
            Creative
            Commons Attribution 3.0 License - NOT COMMERCIAL
      / /col-xs-7
      .col-md-5
        .footer-banner
          %h3.footer-title Flatfy Theme
          %ul
            %li 12 Column Grid Bootstrap
            %li Form Contact
            %li Drag Gallery
            %li Full Responsive
            %li Lorem Ipsum
          Go to:
          %a{:href => "http://andreagalanti.it/flatfy", :target => "_blank"} andreagalanti.it/flatfy