/ Banner Download
#downloadlink.banner
  .container
    .row
      .col-md-6.col-md-offset-3.text-center.wrap_title
        %h2.h2_home.wow.fadeIn{"data-wow-delay" => "0.2s"} Medical-Dental-Pros.com
        %p.lead.wow.fadeIn{"data-wow-delay" => "0.6s"} Personal & Discreet
        %p
          %a.btn.btn-embossed.btn-primary.view{role: "button"} Free Download