/ FullScreen
.intro-header
  .col-xs-12.text-center.abcen1
    %h1.h1_home.wow.fadeIn{"data-wow-delay" => "0.4s"} Medical-Dental-Pros.com
    %h3.h3_home.wow.fadeIn{"data-wow-delay" => "0.6s"} Personal & Discreet
    %ul.list-inline.intro-social-buttons
      %li
        %a.btn.btn-lg.mybutton_cyano.wow.fadeIn{"data-wow-delay" => "0.8s", href: @promo_urls['order testing'], target: '_blank'}
          %span.network-name Order STD Test
      %li#download
        %a.btn.btn-lg.mybutton_standard.wow.swing.wow.fadeIn{"data-wow-delay" => "1.2s", href: "#states"}
          /@promo_urls['local testing'], target: '_blank'
          %span.network-name Find a Center
  / /.container
  .col-xs-12.text-center.abcen.wow.fadeIn
    .button_down
      %a.imgcircle.wow.bounceInUp{"data-wow-duration" => "1.5s", href: "#whatis"}
        %img.img_scroll
          =image_tag("icon/circle.png")
