/ Screenshot
#screen.content-section-b
  .container
    .row
      .col-md-6.col-md-offset-3.text-center.wrap_title
        %h2 Screen App
        %p.lead{:style => "margin-top:0"} A special thanks to Death.
    .row.wow.bounceInUp
      #owl-demo.owl-carousel
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("slide/1.png", alt: "Owl Image")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("slide/2.png", alt: "Owl Image")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("slide/3.png", alt: "Owl Image")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("slide/1.png", alt: "Owl Image")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("slide/2.png", alt: "Owl Image")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("slide/3.png", alt: "Owl Image")
