/ Screenshot
#screen.content-section-b
  .container
    .row
      .col-md-6.col-md-offset-3.text-center.wrap_title
        %h2 Screen App
        %p.lead{:style => "margin-top:0"} A special thanks to Death.
    .row.wow.bounceInUp
      #owl-demo.owl-carousel
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("test1.jpg", alt: "Medical STD results testing")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("test_tubes.jpg", alt: "In-Home STD results")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("test_tubes4.jpg", alt: "In-Home STD testing")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("test_tubes5.jpg", alt: "Discreet local STD tests")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("worry4.jpg", alt: "Owl Image")
        %a.image-link
          .item
            %img.img-responsive.img-rounded
              =image_tag("worry2-sm.jpg", alt: "Owl Image")
