.content-section-c
  .container
    .row>
      .col-md-6.col-md-offset-3.text-center.white
        %h2 Get Live Updates
        %p.lead{:style => "margin-top:0"} A special thanks to Death.
      .col-md-6.col-md-offset-3.text-center
        .mockup-content
          .morph-button.wow.pulse.morph-button-inflow.morph-button-inflow-1
            %button{:type => "button "}
              %span Subscribe to our Newsletter
            .morph-content
              %div
                .content-style-form.content-style-form-4
                  %h2.morph-clone Subscribe to our Newsletter
                  %form
                    %p
                      %label Your Email Address
                      %input{:type => "text"}/
                    %p
                      %button Subscribe me