/ Use it
#useit.content-section-a
  .container
    .row
      .col-sm-6.pull-right.wow.fadeInRightBig
        %img.img-responsive
          =image_tag("medical_report.jpg")
      .col-sm-6.wow.fadeInLeftBig{"data-animation-delay" => "200"}
        %h3.section-heading Full Responsive
        .sub-title.lead3
          Lorem ipsum dolor sit atmet sit dolor greand fdanrh
          %br/
          sdfs sit atmet sit dolor greand fdanrh sdfs
        %p.lead
          In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret.
          Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur,
          uam non erat mirum sapientiae lorem cupido
          patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
        %p
          %a.btn.btn-embossed.btn-primary{:href => "#", :role => "button"} View Details
          %a.btn.btn-embossed.btn-info{:href => "#", :role => "button"} Visit Website