/ What is
#whatis.content-section-b{:style => "border-top: 0"}
  .container
    .col-md-6.col-md-offset-3.text-center.wrap_title
      %h2 What is?
      %p.lead{:style => "margin-top:0"} A special thanks to Death.
    .row
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/tweet.svg", :alt => "Generic placeholder image")
        %h3 Follow Me
        %p.lead Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
        / <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p>
      / /.col-lg-4
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/picture.svg", :alt => "Generic placeholder image")
        %h3 Gallery
        %p.lead Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
        / <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p>
      / /.col-lg-4
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/retina.svg", :alt => "Generic placeholder image")
        %h3 Retina
        %p.lead Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
        / <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p>
      / /.col-lg-4
    / /.row
    .row.tworow
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/laptop.svg", :alt => "Generic placeholder image")
        %h3 Responsive
        %p.lead Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
        / <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p>
      / /.col-lg-4
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/map.svg", :alt => "Generic placeholder image")
        %h3 Google
        %p.lead Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
        / <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p>
      / /.col-lg-4
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/browser.svg", :alt => "Generic placeholder image")
        %h3 Bootstrap
        %p.lead Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.
        / <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p>
      / /.col-lg-4
    / /.row