/ What is
#whatis.content-section-b{:style => "border-top: 0"}
  .container
    .col-md-6.col-md-offset-3.text-center.wrap_title
      %h2 How do the STD tests work?
      %p.lead{:style => "margin-top:0"} Multiple panels to get the right test
    .row
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/tweet.svg", alt: "Generic placeholder image")
        %h3 Discreet
        %p.lead No questions are asked and no paperwork is required at the center.
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/picture.svg", alt: "Generic placeholder image")
        %h3 Fast
        %p.lead Results are available 1-2 days after the test is administered.
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/retina.svg", alt: "Generic placeholder image")
        %h3 Private
        %p.lead Results are not reported to any employer or insurance company.

    .row.tworow
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/laptop.svg", alt: "Generic placeholder image")
        %h3 Affordable
        %p.lead Choose individual tests or a full 10 test panel.
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/map.svg", alt: "Generic placeholder image")
        %h3 Order from home
        %p.lead Choose your tests and order from the comfort of your home. Just drop into a test center to provide a sample.
      .col-sm-4.wow.fadeInDown.text-center
        %img.rotate
          =image_tag("icon/browser.svg", alt: "Generic placeholder image")
        %h3 100% Satisfaction
        %p.lead Counselors available 24/7 to answer your questions. Free consultation with a doctor for any positive tests.

